com.io7m.northpike.plans.parsers/src/main/resources/com/io7m/northpike/plans/parsers/plans-1.xsd

<?xml version="1.0" encoding="UTF-8" ?>

<!--
  Copyright © 2023 Mark Raynsford <code@io7m.com> https://www.io7m.com

  Permission to use, copy, modify, and/or distribute this software for any
  purpose with or without fee is hereby granted, provided that the above
  copyright notice and this permission notice appear in all copies.

  THE SOFTWARE IS PROVIDED "AS IS" AND THE AUTHOR DISCLAIMS ALL WARRANTIES
  WITH REGARD TO THIS SOFTWARE INCLUDING ALL IMPLIED WARRANTIES OF
  MERCHANTABILITY AND FITNESS. IN NO EVENT SHALL THE AUTHOR BE LIABLE FOR ANY
  SPECIAL, DIRECT, INDIRECT, OR CONSEQUENTIAL DAMAGES OR ANY DAMAGES
  WHATSOEVER RESULTING FROM LOSS OF USE, DATA OR PROFITS, WHETHER IN AN
  ACTION OF CONTRACT, NEGLIGENCE OR OTHER TORTIOUS ACTION, ARISING OUT OF OR
  IN CONNECTION WITH THE USE OR PERFORMANCE OF THIS SOFTWARE.
-->

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:np="urn:com.io7m.northpike.plans:1"
            targetNamespace="urn:com.io7m.northpike.plans:1">

  <xsd:simpleType name="NameType">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="([a-z][a-z0-9_-]{0,63})(\.[a-z][a-z0-9_-]{0,62}){0,15}"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:element name="SetElement">
    <xsd:annotation>
      <xsd:documentation>
        An element in a set.
      </xsd:documentation>
    </xsd:annotation>

    <xsd:complexType>
      <xsd:attribute name="Value"
                     type="xsd:string"
                     use="required"/>
    </xsd:complexType>
  </xsd:element>

  <xsd:complexType name="SetComparisonType"
                   abstract="true">
    <xsd:annotation>
      <xsd:documentation>
        The base type of set comparisons.
      </xsd:documentation>
    </xsd:annotation>
  </xsd:complexType>

  <xsd:complexType name="SetIsAnythingType">
    <xsd:annotation>
      <xsd:documentation>
        A comparison that is true for all sets.
      </xsd:documentation>
    </xsd:annotation>
  </xsd:complexType>

  <xsd:complexType name="SetIsEqualToType">
    <xsd:annotation>
      <xsd:documentation>
        Compare an incoming set for exact equality with the given set. For sets
        α and β, α is equal to β iff α ⊃ β ∧ α ⊂ β.
      </xsd:documentation>
    </xsd:annotation>

    <xsd:complexContent>
      <xsd:extension base="np:SetComparisonType">
        <xsd:sequence minOccurs="0"
                      maxOccurs="unbounded">
          <xsd:element ref="np:SetElement"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="SetIsNotEqualToType">
    <xsd:annotation>
      <xsd:documentation>
        Compare an incoming set for exact inequality with the given set. For
        sets α and β, α is not equal to β iff ¬ (α ⊃ β) ∨ ¬ (α ⊂ β).
      </xsd:documentation>
    </xsd:annotation>

    <xsd:complexContent>
      <xsd:extension base="np:SetComparisonType">
        <xsd:sequence minOccurs="0"
                      maxOccurs="unbounded">
          <xsd:element ref="np:SetElement"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="SetIsSubsetOfType">
    <xsd:annotation>
      <xsd:documentation>
        Is the incoming set a subset of the given set?
      </xsd:documentation>
    </xsd:annotation>

    <xsd:complexContent>
      <xsd:extension base="np:SetComparisonType">
        <xsd:sequence minOccurs="0"
                      maxOccurs="unbounded">
          <xsd:element ref="np:SetElement"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="SetIsSupersetOfType">
    <xsd:annotation>
      <xsd:documentation>
        Is the incoming set a superset of the given set?
      </xsd:documentation>
    </xsd:annotation>

    <xsd:complexContent>
      <xsd:extension base="np:SetComparisonType">
        <xsd:sequence minOccurs="0"
                      maxOccurs="unbounded">
          <xsd:element ref="np:SetElement"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="SetIsOverlappingType">
    <xsd:annotation>
      <xsd:documentation>
        Is the incoming set overlapping the given set? That is, for sets α and
        β, α overlaps β iff ∃μ, μ ∈ α ∧ μ ∈ β.
      </xsd:documentation>
    </xsd:annotation>

    <xsd:complexContent>
      <xsd:extension base="np:SetComparisonType">
        <xsd:sequence minOccurs="0"
                      maxOccurs="unbounded">
          <xsd:element ref="np:SetElement"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:element name="SetIsAnything"
               type="np:SetIsAnythingType"/>

  <xsd:element name="SetIsEqualTo"
               type="np:SetIsEqualToType"/>

  <xsd:element name="SetIsNotEqualTo"
               type="np:SetIsNotEqualToType"/>

  <xsd:element name="SetIsSubsetOf"
               type="np:SetIsSubsetOfType"/>

  <xsd:element name="SetIsSupersetOf"
               type="np:SetIsSupersetOfType"/>

  <xsd:element name="SetIsOverlapping"
               type="np:SetIsOverlappingType"/>

  <xsd:group name="SetComparisonGroup">
    <xsd:choice>
      <xsd:element ref="np:SetIsAnything"/>
      <xsd:element ref="np:SetIsEqualTo"/>
      <xsd:element ref="np:SetIsNotEqualTo"/>
      <xsd:element ref="np:SetIsSubsetOf"/>
      <xsd:element ref="np:SetIsSupersetOf"/>
      <xsd:element ref="np:SetIsOverlapping"/>
    </xsd:choice>
  </xsd:group>

  <xsd:complexType name="FailurePolicyType"
                   abstract="true">
    <xsd:annotation>
      <xsd:documentation>
        The base type of failure policies.
      </xsd:documentation>
    </xsd:annotation>
  </xsd:complexType>

  <xsd:complexType name="FailurePolicyFailType">
    <xsd:annotation>
      <xsd:documentation>
        A failure policy that indicates that a task failure should be considered
        failure.
      </xsd:documentation>
    </xsd:annotation>

    <xsd:complexContent>
      <xsd:extension base="np:FailurePolicyType"/>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="FailurePolicyIgnoreType">
    <xsd:annotation>
      <xsd:documentation>
        A failure policy that indicates that a task failure should be ignored
        and treated as success.
      </xsd:documentation>
    </xsd:annotation>

    <xsd:complexContent>
      <xsd:extension base="np:FailurePolicyType"/>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="FailurePolicyRetryType">
    <xsd:annotation>
      <xsd:documentation>
        A failure policy that indicates that a task failure should be retried up
        to a given number of times.
      </xsd:documentation>
    </xsd:annotation>

    <xsd:complexContent>
      <xsd:extension base="np:FailurePolicyType">
        <xsd:attribute name="RetryCount"
                       type="xsd:unsignedInt"
                       use="required">
          <xsd:annotation>
            <xsd:documentation>
              The maximum number of times a task can be retried.
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:element name="FailurePolicyFail"
               type="np:FailurePolicyFailType"/>
  <xsd:element name="FailurePolicyIgnore"
               type="np:FailurePolicyIgnoreType"/>
  <xsd:element name="FailurePolicyRetry"
               type="np:FailurePolicyRetryType"/>

  <xsd:group name="FailurePolicyGroup">
    <xsd:choice>
      <xsd:element ref="np:FailurePolicyFail"/>
      <xsd:element ref="np:FailurePolicyIgnore"/>
      <xsd:element ref="np:FailurePolicyRetry"/>
    </xsd:choice>
  </xsd:group>

  <xsd:element name="Timeouts">
    <xsd:complexType>
      <xsd:attribute name="AgentSelection"
                     type="xsd:duration"
                     use="required">
        <xsd:annotation>
          <xsd:documentation>
            The default maximum duration that can elapse before a task is
            considered failed because no agent could be selected.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:attribute>

      <xsd:attribute name="TaskExecution"
                     type="xsd:duration"
                     use="required">
        <xsd:annotation>
          <xsd:documentation>
            The default maximum duration that can elapse before a task is
            considered failed because it took too long to execute.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:attribute>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="Tool">
    <xsd:annotation>
      <xsd:documentation>
        A named reference to a tool.
      </xsd:documentation>
    </xsd:annotation>

    <xsd:complexType>
      <xsd:attribute name="ReferenceName"
                     use="required"
                     type="np:NameType">
        <xsd:annotation>
          <xsd:documentation>
            The name of the reference.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:attribute>

      <xsd:attribute name="ToolName"
                     use="required"
                     type="np:NameType">
        <xsd:annotation>
          <xsd:documentation>
            The name of the tool (such as "org.apache.maven").
          </xsd:documentation>
        </xsd:annotation>
      </xsd:attribute>

      <xsd:attribute name="ToolVersion"
                     use="required"
                     type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>
            The tool version (such as "3.4.8").
          </xsd:documentation>
        </xsd:annotation>
      </xsd:attribute>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="Tools">
    <xsd:annotation>
      <xsd:documentation>
        A set of tools.
      </xsd:documentation>
    </xsd:annotation>

    <xsd:complexType>
      <xsd:sequence minOccurs="1"
                    maxOccurs="unbounded">
        <xsd:element ref="np:Tool"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:complexType name="PlanElementType"
                   abstract="true">
    <xsd:annotation>
      <xsd:documentation>
        The base type of plan elements.
      </xsd:documentation>
    </xsd:annotation>

    <xsd:attribute type="np:NameType"
                   name="Name"
                   use="required">
      <xsd:annotation>
        <xsd:documentation>
          The name of the plan element.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>

    <xsd:attribute type="xsd:string"
                   name="Description"
                   use="required">
      <xsd:annotation>
        <xsd:documentation>
          A humanly-readable description of the plan element.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>

  <xsd:complexType name="AgentPreferenceType"
                   abstract="true"/>

  <xsd:complexType name="AgentPreferWithLabelsMatchingType">
    <xsd:annotation>
      <xsd:documentation>
        The type of expressions that match "preferred" agents.
      </xsd:documentation>
    </xsd:annotation>

    <xsd:complexContent>
      <xsd:extension base="np:AgentPreferenceType">
        <xsd:group ref="np:SetComparisonGroup"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:element name="AgentPreferWithLabelsMatching"
               type="np:AgentPreferWithLabelsMatchingType"/>

  <xsd:group name="AgentPreferGroup">
    <xsd:choice>
      <xsd:element ref="np:AgentPreferWithLabelsMatching"/>
    </xsd:choice>
  </xsd:group>

  <xsd:complexType name="AgentRequirementType"
                   abstract="true"/>

  <xsd:complexType name="AgentRequireWithLabelsMatchingType">
    <xsd:annotation>
      <xsd:documentation>
        The type of expressions that match "required" agents.
      </xsd:documentation>
    </xsd:annotation>

    <xsd:complexContent>
      <xsd:extension base="np:AgentRequirementType">
        <xsd:group ref="np:SetComparisonGroup"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:element name="AgentRequireWithLabelsMatching"
               type="np:AgentRequireWithLabelsMatchingType"/>

  <xsd:complexType name="AgentRequireSameAsUsedForType">
    <xsd:complexContent>
      <xsd:extension base="np:AgentRequirementType">
        <xsd:attribute use="required"
                       type="np:NameType"
                       name="Task"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:element name="AgentRequireSameAsUsedFor"
               type="np:AgentRequireSameAsUsedForType"/>

  <xsd:group name="AgentRequireGroup">
    <xsd:choice>
      <xsd:element ref="np:AgentRequireWithLabelsMatching"/>
      <xsd:element ref="np:AgentRequireSameAsUsedFor"/>
    </xsd:choice>
  </xsd:group>

  <xsd:element name="Resource">
    <xsd:annotation>
      <xsd:documentation>
        A named resource that is locked on an agent when it executes a
        particular task.
      </xsd:documentation>
    </xsd:annotation>

    <xsd:complexType>
      <xsd:attribute name="Name"
                     type="np:NameType"
                     use="required">
        <xsd:annotation>
          <xsd:documentation>
            The resource name.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:attribute>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="AgentLockResources">
    <xsd:annotation>
      <xsd:documentation>
        The set of resources that are locked on an agent when it executes a
        particular task.
      </xsd:documentation>
    </xsd:annotation>

    <xsd:complexType>
      <xsd:sequence minOccurs="0"
                    maxOccurs="unbounded">
        <xsd:element ref="np:Resource"/>
      </xsd:sequence>
    </xsd:complexType>

    <xsd:unique name="AgentLockResourcesUnique">
      <xsd:selector xpath="np:AgentLockResource"/>
      <xsd:field xpath="@Resource"/>
    </xsd:unique>
  </xsd:element>

  <xsd:element name="DependsOn">
    <xsd:complexType>
      <xsd:attribute name="Task"
                     use="required"
                     type="np:NameType"/>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="ToolRequirement">
    <xsd:annotation>
      <xsd:documentation>
        A requirement upon a specific tool.
      </xsd:documentation>
    </xsd:annotation>

    <xsd:complexType>
      <xsd:attribute name="ReferenceName"
                     use="required"
                     type="np:NameType"/>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="ToolExecution">
    <xsd:annotation>
      <xsd:documentation>
        A tool execution.
      </xsd:documentation>
    </xsd:annotation>

    <xsd:complexType>
      <xsd:sequence minOccurs="0"
                    maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>
            The set of (extra) tools upon which this execution depends.
          </xsd:documentation>
        </xsd:annotation>

        <xsd:element ref="np:ToolRequirement"/>
      </xsd:sequence>

      <xsd:attribute name="ReferenceName"
                     use="required"
                     type="np:NameType">
        <xsd:annotation>
          <xsd:documentation>
            The name of the tool reference.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:attribute>

      <xsd:attribute name="ExecutionName"
                     use="required"
                     type="np:NameType">
        <xsd:annotation>
          <xsd:documentation>
            The name of the execution.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:attribute>

      <xsd:attribute name="ExecutionVersion"
                     use="required"
                     type="xsd:unsignedLong">
        <xsd:annotation>
          <xsd:documentation>
            The version of the tool execution.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:attribute>
    </xsd:complexType>

    <xsd:unique name="ToolRequirementUnique">
      <xsd:selector xpath="np:ToolRequirement"/>
      <xsd:field xpath="@ReferenceName"/>
    </xsd:unique>
  </xsd:element>

  <xsd:complexType name="TaskType">
    <xsd:annotation>
      <xsd:documentation>
        The definition of a task. A task performs work on an agent.
      </xsd:documentation>
    </xsd:annotation>

    <xsd:complexContent>
      <xsd:extension base="np:PlanElementType">
        <xsd:sequence>
          <xsd:sequence minOccurs="0"
                        maxOccurs="unbounded">
            <xsd:annotation>
              <xsd:documentation>
                The set of expressions that defines the agents upon which this
                task depends.
              </xsd:documentation>
            </xsd:annotation>
            <xsd:group ref="np:AgentRequireGroup"/>
          </xsd:sequence>

          <xsd:sequence minOccurs="0"
                        maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>
                The set of expressions that defines the agents that are
                preferred for execution if more than one agent is matched by the
                requirements.
              </xsd:documentation>
            </xsd:annotation>
            <xsd:group ref="np:AgentPreferGroup"/>
          </xsd:sequence>

          <xsd:element ref="np:AgentLockResources"
                       minOccurs="0"
                       maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>
                The set of resources that are locked on the agent during the
                execution of this task.
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>

          <xsd:sequence minOccurs="0"
                        maxOccurs="unbounded">
            <xsd:annotation>
              <xsd:documentation>
                The set of plan elements upon which this task depends. The
                execution of this task will not begin until all of its
                dependencies have completed.
              </xsd:documentation>
            </xsd:annotation>
            <xsd:element ref="np:DependsOn"/>
          </xsd:sequence>

          <xsd:group ref="np:FailurePolicyGroup"
                     minOccurs="0"
                     maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>
                The failure policy for the task.
              </xsd:documentation>
            </xsd:annotation>
          </xsd:group>

          <xsd:element ref="np:ToolExecution">
            <xsd:annotation>
              <xsd:documentation>
                The tool execution for this task.
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>

        <xsd:attribute name="AgentSelectionTimeout"
                       type="xsd:duration"
                       use="optional">
          <xsd:annotation>
            <xsd:documentation>
              The default maximum duration that can elapse before this task is
              considered failed because no agent could be selected.
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>

        <xsd:attribute name="ExecutionTimeout"
                       type="xsd:duration"
                       use="optional">
          <xsd:annotation>
            <xsd:documentation>
              The default maximum duration that can elapse before this task is
              considered failed because it took too long to execute.
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:element name="Task"
               type="np:TaskType"/>

  <xsd:complexType name="BarrierType">
    <xsd:annotation>
      <xsd:documentation>
        The definition of a barrier. A barrier is immediately marked as having
        completed when all of its dependencies are completed.
      </xsd:documentation>
    </xsd:annotation>

    <xsd:complexContent>
      <xsd:extension base="np:PlanElementType">
        <xsd:sequence>
          <xsd:sequence minOccurs="0"
                        maxOccurs="unbounded">
            <xsd:annotation>
              <xsd:documentation>
                The set of plan elements upon which this barrier depends. The
                barrier will not complete until all of its dependencies have
                completed.
              </xsd:documentation>
            </xsd:annotation>
            <xsd:element ref="np:DependsOn"/>
          </xsd:sequence>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:element name="Barrier"
               type="np:BarrierType"/>

  <xsd:group name="PlanElementGroup">
    <xsd:annotation>
      <xsd:documentation>
        The set of elements that are executed in plans.
      </xsd:documentation>
    </xsd:annotation>

    <xsd:choice>
      <xsd:element ref="np:Task"/>
      <xsd:element ref="np:Barrier"/>
    </xsd:choice>
  </xsd:group>

  <xsd:element name="Plan">
    <xsd:annotation>
      <xsd:documentation>
        The definition of a plan.
      </xsd:documentation>
    </xsd:annotation>

    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="np:Timeouts"
                     minOccurs="1"
                     maxOccurs="1">
          <xsd:annotation>
            <xsd:documentation>
              The default timeout values.
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>

        <xsd:element ref="np:Tools"
                     minOccurs="0"
                     maxOccurs="1">
          <xsd:annotation>
            <xsd:documentation>
              The tool references used in this plan.
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>

        <xsd:sequence minOccurs="0"
                      maxOccurs="unbounded">
          <xsd:annotation>
            <xsd:documentation>
              The set of executable plan elements.
            </xsd:documentation>
          </xsd:annotation>
          <xsd:group ref="np:PlanElementGroup"/>
        </xsd:sequence>
      </xsd:sequence>

      <xsd:attribute name="Name"
                     use="required"
                     type="np:NameType">
        <xsd:annotation>
          <xsd:documentation>
            The name of the plan.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:attribute>

      <xsd:attribute name="Description"
                     use="optional"
                     type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>
            A short description of the plan.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:attribute>

      <xsd:attribute name="Version"
                     use="required"
                     type="xsd:unsignedLong">
        <xsd:annotation>
          <xsd:documentation>
            The version of the plan.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:attribute>
    </xsd:complexType>

    <xsd:key name="PlanElementNameKey">
      <xsd:selector xpath="np:Task|np:Barrier"/>
      <xsd:field xpath="@Name"/>
    </xsd:key>

    <xsd:key name="ToolKey">
      <xsd:selector xpath="np:Tools/np:Tool"/>
      <xsd:field xpath="@ReferenceName"/>
    </xsd:key>

    <xsd:keyref name="AgentUsedForTaskExists"
                refer="np:PlanElementNameKey">
      <xsd:selector xpath="*/np:AgentUsedFor"/>
      <xsd:field xpath="@Task"/>
    </xsd:keyref>

    <xsd:keyref name="DependsOnTaskExists"
                refer="np:PlanElementNameKey">
      <xsd:selector xpath="*/np:DependsOn"/>
      <xsd:field xpath="@Task"/>
    </xsd:keyref>

    <xsd:keyref name="ToolExists"
                refer="np:ToolKey">
      <xsd:selector xpath="*/np:ToolExecution"/>
      <xsd:field xpath="@Tool"/>
    </xsd:keyref>

    <xsd:keyref name="ToolRequirementExists"
                refer="np:ToolKey">
      <xsd:selector xpath="*/np:ToolExecution/np:ToolRequirement"/>
      <xsd:field xpath="@ReferenceName"/>
    </xsd:keyref>
  </xsd:element>

</xsd:schema>